<section id="menu">
    <div id="menu_logo">
        <img src="/../assets/img/tarjeta-de-debito.png" width="45px" >
        <h3>Grupo Salinas</h3>
    </div>
    <!--<div   id="menu_enlaces"  class="menu-movil-inactivo" *ngIf="menuEstaActivo">-->
    <div   id="menu_enlaces"  class="menu-movil-activo">
        <ul>
            <li>
                <a href="administrador"> Administrador</a>
            </li>
            <li>
                <a href="cliente" id="link-destacado">  Retirar/Añadir Saldo</a>
            </li>
        </ul>
    </div>
</section>
