


/*Conifuracion: Color y tipo de fuente*/

a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



#menu {
    padding: 10px 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    animation: animacion-barra-colores-menu;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}


#menu_logo {
    text-align: left;
}

#menu_enlaces {
    align-items: end;
    padding: 10px 0px 0px 0px;
}

#menu_enlaces > ul {
    display: flex;
    list-style: none;
}


#menu_enlaces> ul >li {
    padding: 0px 8px;
}


#link-destacado {
    background-color: #cf85fa00;
    border-style: solid;
    border-width: 1px;
    padding: 10px 15px;
    border-radius: 4px;
}





/* ============================================================ Vista: smartphone y tablet ============================================================ */
@media screen and (max-width: 700px) { 

    #menu {
        padding: 2px 5%;
        display: grid;
        grid-template-columns: 100%;
    }

    #menu_logo {
        text-align: center;
    }
    
    #link-destacado {
        padding: 10px 10px;
    }
    



}


/* ====================== Animaciónes ====================== */
/*Anamiación: Esta muestra los enlaces del menu*/
@keyframes animacion-menu-movil {
    0% {
        top: 40px;
        left: 100%;
        bottom: 0px;
        right: 0px;
    }

    100% {
        top: 40px;
        left: 0%;
        bottom: 0px;
        right: 0px;
    }

}


/*Animación: Esta hace los efectos de colores sobre el menu*/
@keyframes animacion-barra-colores-menu {
    0% {
        background-color: #b1d9ff;

    }

    25% {
        background-color: #ddcbe7;
    }

    50% {
        background-color: #ffdbe9;
    }


    75% {
        background-color: #d6c6e2;

    }

    100% {
        background-color: #c9e4fc;
    }
}

