<div class="container-cliente">



    <div class="container-cliente__retirar-dinero">
        <h2>💳 Retirar Dinero:</h2><br>
        <table class="table" *ngIf="activarVistaRetirarDinero==true">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Billete $20</th>
                    <th scope="col">Billete $50</th>
                    <th scope="col">Billete $100</th>
                    <th scope="col">Billete $200</th>
                    <th scope="col">Moneda $5</th>
                    <th scope="col">Moneda $10</th>
                    <th scope="col">Moneda $20</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{dtoSaldoRetirar.billete20}}</td>
                    <td>{{dtoSaldoRetirar.billete50}}</td>
                    <td>{{dtoSaldoRetirar.billete100}}</td>
                    <td>{{dtoSaldoRetirar.billete200}}</td>
                    <td>{{dtoSaldoRetirar.moneda5}}</td>
                    <td>{{dtoSaldoRetirar.moneda10}}</td>
                    <td>{{dtoSaldoRetirar.moneda20}}</td>
                </tr>
            </tbody>
        </table>
        <form class="form" (ngSubmit)="retirarDinero()" [formGroup]="formGroupRetirarSaldo">
            <label>Canitdad a Retirar:</label><br>
            <input type="number" placeholder="$0.000" formControlName="form_cantidad">
            <input type="submit" class="btn btn-warning"  value="Retirar Saldo">
            <button type="button" class="btn btn-danger" (click)="activarDescativarVistaRetirarDinero()" *ngIf="activarVistaRetirarDinero==true">Salir</button>
        </form> 
    </div>  
    
    
    <div class="container-cliente__agregar-dinero">

        <div class="container-cliente__agregar-dinero__form">
            <h2> 💰 Añadir Dinero:</h2>
            <form (ngSubmit)="actualizarMonedasBilletes()">
                <small>Billete: $20</small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.billete20" name="billete20" value="0">
                <small>Billete: $50</small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.billete50" name="billete50" value="0">
                <small>Billete: $100 </small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.billete100" name="billete100" value="0">
                <small>Billete: $200 </small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.billete200" name="billete200" value="0">
                <small>Moneda: $5</small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.moneda5"  name="moneda5" value="0">
                <small>Moneda: $10</small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.moneda10" name="moneda10" value="0">
                <small>Moneda: $20</small>
                <input type="number" [(ngModel)]="dtoSaldoRetirarActualizar.moneda20" name="moneda20" value="0"><br>
                <input  type="submit" class="btn btn-warning"  value="Añadir Saldo">
            </form>    
        </div>
        <div class="container-cliente__agregar-dinero__img" >
            <img src="/../assets/img/hombre-mujer.jpg" >
        </div>
        
    </div>




</div>




