.container-cliente{
    background-color: white;
    display: grid;
    padding: 2% 25%;
}



.container-cliente__item{
    background-color: rgb(253, 253, 253);
    padding: 20px;

}




/* ============================================================ Vista: smartphone ============================================================ */


 @media screen and (max-width: 700px) { 
    .container-cliente__item{
        padding: 5% 10%;   
    }
   
}
