.container-administrador{
    background-color: white;
    display: grid;
    padding: 2% 25%; 
}

.container-administrador__imagen{
    background-image: url(/../assets/img/imagen-mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    border-radius: 5px;
    height: 250px;
    margin: 20px 0px;
}

.container-administrador__tabla{
    padding: 20px;
}


/* ============================================================ Vista: smartphone ============================================================ */


 @media screen and (max-width: 700px) { 

    .container-administrador{  
        padding: 5% 10%;     
    }

  }

